@import "src/style/index";


.svg {
  background: $bg-color;
  border: 1px solid red;
  // https://stackoverflow.com/questions/48124372/pointermove-event-not-working-with-touch-why-not
  touch-action: none;
}
.svg-dots-container {
  fill: $green-primary;
}

.svg-dot {
  fill: $green-secondary;
}
.svg-dot.entered {
//path.entered {
  fill: $bg-color;
}
