@import "src/style/index";



main {
  text-align: center;
}

.svg {
  background: $bg-color;
  border: 1px solid red;
  // https://stackoverflow.com/questions/48124372/pointermove-event-not-working-with-touch-why-not
  touch-action: none;
  max-width: 1000px;
  max-height: 800px;
}
.svg-dots-container {
  fill: $green-primary;
}

.svg-dot {
  fill: $green-secondary;
}
.svg-dot.entered {
//path.entered {
  fill: $bg-color;
}

.line {
  stroke-dasharray: 10;
  animation: dash 5s linear;
}
